body { 
    margin: 0; 
    padding: 0; 
}
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
}

.icon-legend {
    position: absolute;
    left: 1100px;
    top: 0;
    bottom: 0;
    width: 200px; 
    height: 768px;
    margin-top: 30px;
    border-style: ridge;
    
  }